* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #FFF7ED;
    font-family: "Inter", sans-serif;
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 50px;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

header {
    height: 110px;
    display: flex;
    align-items: center;
    padding-block: 10px;
}

header .site-logo {
    color: black;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.2rem;
    margin-left: 10px;
}

header a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 600;
    padding: 5px 8px;
}

header a:hover {
    color: #161616;
    text-decoration: underline;
}


.link-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: .75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.link-button:hover {
    transform: translate(1px, 1px);
}

/*** HOME PAGE ***/
.home-container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("./assets/images/home-hero.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    padding: 45px 23px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-container h1 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 42px;
    width: 90%;
    text-align: center;
}

.home-container p {
    line-height: 24px;
    width: 90%;
    text-align: center;
}

.home-container a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #FF8C38;
    border: none;
    min-width: 320px;
    margin-top: 27px;
    padding-block: .75rem;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.home-container a:hover {
    transform: translate(1px, 1px);
}


/*** ABOUT PAGE ***/
.about-hero-image {
    width: calc(100% - 60px);
    margin: 0px 30px;
}

.about-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-page-content {
    padding-inline: 23px;
    color: #161616;
    margin-bottom: 55px;
    text-align: center;
}

.about-page-content h1 {
    line-height: 38px;
}

.about-page-content p {
    line-height: 22px;
}

.about-page-cta {
    background-color: #FFCC8D;
    color: #161616;
    padding-inline: 32px;
    padding-bottom: 32px;
    margin-inline: 27px;
    border-radius: 5px;
    margin-bottom: 50px;
    text-align: center;
}

.about-page-cta h2 {
    margin: 0;
    padding-block: 37px;
}

.about-page-cta .link-button {
    background-color: #161616;
    color: white;
    border-radius: 10px;

}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.van-tile>a>img {
    width: 160px;
    height: 160px;
    border-radius: 8px;
}

.van-tile>a {
    text-decoration: none;
    color: black;
}

.van-info {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.van-info p {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    align-items: end;
    margin-top: 1.1rem;
    font-size: 1.3rem;
}

.van-info span {
    font-weight: 300;
    font-size: 1rem;
}

.van-info h3 {
    font-size: 1.1rem;
}

.van-tile {
    margin-bottom: 20px;
}

.van-detail {
    display: flex;
    flex-direction: column;
    color: #161616;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

.van-detail img {
    border-radius: 5px;
    margin-block: 47px;

}

.van-detail h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.van-detail>i {
    align-self: flex-start;
}

.van-detail .van-price {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.van-detail .van-price span {
    font-weight: 700;
    font-size: 1.5rem;
}

.van-detail .link-button {
    background-color: #FF8C38;
    color: white;
    font-size: 1.125rem;
}

a.active-link {
    font-weight: bold;
    text-decoration: underline;
    color: #161616;
}

footer {
    background-color: #161616;
    color: white;
    height: 74px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-weight: 500;
}

.host-nav {
    display: flex;
    justify-content: start;
    margin-bottom: 30px;
}

.host-nav a {
    text-decoration: none;
    color: #4D4D4D;
    padding: 5px 20px;
}

.host-van-link-wrapper {
    color: unset;
    text-decoration: unset;
}

.host-vans-list {
    padding-inline: 26px;
    margin-bottom: 30px;
}

.host-vans-title {
    padding-inline: 26px;
}

.host-van-single {
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 15px;
    padding-block: 18px;
    padding-left: 24px;
}

.host-van-single>.host-img {
    height: 70px;
    border-radius: 5px;
    margin-right: 17px;
}

.host-van-info h3 {
    font-size: 20px;
    font-weight: 600;
    margin-block: 10px;
}

.host-van-info p {
    margin-block: 10px;
}

.host-selected-img {
    width: 160px;
    height: 160px;
    border-radius: 5px;
}

.host-current-van-details {
    display: flex;
    background-color: white;
    margin: 0px 27px;
    padding-top: 27px;
    justify-content: start;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.host-van-selected-info h3 {
    font-size: 1.5rem;
}

.host-van-selected-info p {
    margin-bottom: 0px;
}

.host-van-selected {
    background-color: white;
    width: calc(100% - 30px);
    margin: 30px auto;
}

.host-van-selected-info span {
    font-weight: 600;
    font-size: 1.4rem;
}

.back-button {
    color: unset;
    padding: 20px 20px;

}

.host-nav-van {
    display: flex;
    justify-content: start;
    margin-left: 27px;
    gap: 20px;
    padding: 30px 0px;


}


.host-nav-van a {
    text-decoration: none;
    color: #4D4D4D;
}

.host-van-detail-info span {
    font-weight: 300;
}

.host-van-detail-info {
    margin: 0px 30px 50px 30px;
    padding-bottom: 30px;
}

.host-van-price {
    font-size: 24px;
    font-weight: 500;
    margin-left: 27px;
    padding-bottom: 27px;
}

.host-van-price>span {
    font-size: 16px;
    color: #4D4D4D;
}

.host-van-detail-image {
    height: 100px;
    border-radius: 5px;
    margin-left: 27px;
    margin-bottom: 27px;
}

.van-filters {
    width: 80%;
    margin: 0px auto 28px;
    display: flex;
    justify-content: center;
    gap: 10px;


}

.van-filters button {
    padding: 6px 10px;
    background-color: #f8e4ca;
    border-radius: 8px;
    border: none;
    text-wrap: nowrap;
    font-size: 1.05rem;
    color: black;
    cursor: pointer;
    transition: 300ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
    color: #FFEAD0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.simple:hover,
.van-type.simple.selected {
    background-color: #E17654;
    color: white;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
    background-color: #115E59;
    color: white;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
    background-color: #161616;
    color: white;
}

.not-found-container {
    padding-inline: 26px;
    width: 80%;
    margin: auto;
    text-align: center;
}

.not-found-container .link-button {
    background-color: #161616;
    color: white;
    text-align: center;

}



header .login-link {
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
}

header .login-icon {
    height: 18px;
    width: 18px;
}


.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 27px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

.login-form>input {
    border: 1px solid rgba(209, 213, 219);
    height: 40px;
    text-indent: 10px;
    font-family: "Inter", sans-serif;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    font-weight: 400;
}

.login-form>input:focus {
    outline: none;
}

.login-form>input:first-of-type {
    border-radius: 6px 6px 0px 0px;
}

.login-form>input:last-of-type {
    border-radius: 0px 0px 6px 6px;
    border-top: none;
}

.login-form>button {
    background-color: #FF8C38;
    border: none;
    border-radius: 6px;
    height: 55px;
    margin-top: 22px;
    color: white;
    font-family: "Inter", sans-serif;
}

.base-nav {
    display: flex;
}


.host-dashboard-vans .host-vans-list {
    padding-inline: 0;
}

.host-income {
    padding-inline: 26px;
    color: #161616;
}

.host-income>p {
    color: #4d4d4d;
}

.host-income>p span {
    text-decoration: underline;
    font-weight: bold;
}

.host-income>h2 {
    font-size: 38px;
    color: #161616;
    font-weight: 900;
}

img.graph {
    width: 100%;
    max-width: 500px;
}

.host-income .info-header>p {
    color: #4d4d4d;
}

.host-income .info-header>p span {
    text-decoration: underline;
    font-weight: bold;
}

.host-income .info-header>h3 {
    font-weight: 700;
    font-size: 24px;
    margin-top: 60px;
}

.host-income .transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-bottom: 31px;
    padding: 35px 29px;
    border-radius: 6px;
}

.host-income .transaction>h3 {
    font-size: 36px;
    font-weight: 600;
    margin: 0;
}

.host-income .transaction>p {
    font-weight: 500;
    font-size: 20px;
    color: #4d4d4d;
}

.host-reviews {
    padding-inline: 26px;
    color: #161616;
}

.host-reviews .top-text {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.host-reviews .top-text>h2 {
    font-weight: 700;
    font-size: 32px;
    margin: 0;
    margin-right: 20px;
}

.host-reviews .top-text>p {
    margin: 0;
    color: #4d4d4d;
}

.host-reviews .top-text>p span {
    text-decoration: underline;
    font-weight: bold;
}

.host-reviews>img {
    margin-bottom: 36px;
}

.host-reviews .review {
    margin-block: 25px;
}

.host-reviews .review .info {
    display: flex;
}

.host-reviews .review .name {
    color: #161616;
    margin-right: 10px;
    font-weight: 600;
}

.host-reviews .review .date {
    color: #8c8c8c;
}

.host-reviews hr {
    background-color: #c7c7c7;
    height: 1px;
    border: 0;
}

.host-reviews .review-star {
    color: #ff8c38;
    margin-right: 5px;
}