* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #FFF7ED;
    font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

header {
    height: 110px;
    display: flex;
    align-items: center;
    padding-block: 10px;
}

header .site-logo {
    color: black;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
}

header a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 600;
    padding: 5px 20px;
}

header a:hover {
    color: #161616;
    text-decoration: underline;
}

.link-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: .75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.link-button:hover {
    transform: translate(1px, 1px);
}

/*** HOME PAGE ***/
.home-container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("./assets/images/home-hero.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    padding: 45px 23px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-container h1 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 42px;
    width: 90%;
    text-align: center;
}

.home-container p {
    line-height: 24px;
    width: 90%;
    text-align: center;
}

.home-container a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #FF8C38;
    border: none;
    min-width: 320px;
    margin-top: 27px;
    padding-block: .75rem;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.home-container a:hover {
    transform: translate(1px, 1px);
}


/*** ABOUT PAGE ***/
.about-hero-image {
    max-width: 100%;
}

.about-page-content {
    padding-inline: 23px;
    color: #161616;
    margin-bottom: 55px;
}

.about-page-content h1 {
    line-height: 38px;
}

.about-page-content p {
    line-height: 22px;
}

.about-page-cta {
    background-color: #FFCC8D;
    color: #161616;
    padding-inline: 32px;
    padding-bottom: 32px;
    margin-inline: 27px;
    border-radius: 5px;
}

.about-page-cta h2 {
    margin: 0;
    padding-block: 37px;
}

.about-page-cta .link-button {
    background-color: #161616;
    color: white;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.van-tile>a>img {
    width: 160px;
    height: 160px;
    border-radius: 8px;
}

.van-tile>a {
    text-decoration: none;
    color: black;
}

.van-info {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.van-info p {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    align-items: end;
    margin-top: 1.1rem;
    font-size: 1.3rem;
}

.van-info span {
    font-weight: 300;
    font-size: 1rem;
}

.van-info h3 {
    font-size: 1.1rem;
}

.van-tile {
    margin-bottom: 20px;
}

.van-detail {
    display: flex;
    flex-direction: column;
    color: #161616;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.van-detail img {
    border-radius: 5px;
    margin-block: 47px;

}

.van-detail h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.van-detail>i {
    align-self: flex-start;
}

.van-detail .van-price {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.van-detail .van-price span {
    font-weight: 700;
    font-size: 1.5rem;
}

.van-detail .link-button {
    background-color: #FF8C38;
    color: white;
    font-size: 1.125rem;
}

a.active-link {
    font-weight: bold;
    text-decoration: underline;
    color: #161616;
}

footer {
    background-color: #161616;
    color: white;
    height: 74px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-weight: 500;
}

.host-nav {
    display: flex;
    justify-content: start;
    margin-bottom: 30px;


}

.host-nav a {
    text-decoration: none;
    color: #4D4D4D;
    padding: 5px 20px;
}



/* const vanElements = vans.map(van => (
        <div key={van.id} className="host-van-container">
            <Link to={`/host/vans/${van.id}`}>
                <img src={van.imageUrl} />
                <div className="host-van-info">
                    <h3>{van.name}</h3>
                    <p>${van.price}/day</p>
                </div>
            </Link>
        </div>
    ))*/

.host-van-link-wrapper {
    color: unset;
    text-decoration: unset;
}

.host-vans-list {
    padding-inline: 26px;
}

.host-vans-title {
    padding-inline: 26px;
}

.host-van-single {
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 15px;
    padding-block: 18px;
    padding-left: 24px;
}

.host-van-single>.host-img {
    height: 70px;
    border-radius: 5px;
    margin-right: 17px;
}

.host-van-info h3 {
    font-size: 20px;
    font-weight: 600;
    margin-block: 10px;
}

.host-van-info p {
    margin-block: 10px;
}

.host-selected-img {
    width: 160px;
    height: 160px;
    border-radius: 5px;
}

.host-current-van-details {
    display: flex;
    background-color: white;
    margin: 0px 27px;
    padding-top: 27px;
    justify-content: start;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.host-van-selected-info h3 {
    font-size: 1.5rem;
}
.host-van-selected-info p {
    margin-bottom: 0px;
}

.host-van-selected {
    background-color: white;
    width: calc(100% - 30px);
    margin: 30px auto;
}

.host-van-selected-info span {
    font-weight: 600;
    font-size: 1.4rem;
}

.back-button {
    color: unset;
    padding: 20px 20px;
    
}

.host-nav-van {
    display: flex;
    justify-content: start;
    margin-left: 27px;
    gap: 20px;
    padding: 30px 0px;


}

.host-nav-van a {
    text-decoration: none;
    color: #4D4D4D;
}

.host-van-detail-info span {
    font-weight: 300;
}

.host-van-detail-info {
   margin:  0px 30px 50px 30px;
   padding-bottom: 30px;
}

.host-van-price {
    font-size: 24px;
    font-weight: 500;
    margin-left: 27px;
    padding-bottom: 27px;
}

.host-van-price > span {
    font-size: 16px;
    color: #4D4D4D;
}

.host-van-detail-image {
    height: 100px;
    border-radius: 5px;
    margin-left: 27px;
    margin-bottom: 27px;
}